{% extends "two_column_body.html" %}
{% import "macros.html" as macros %}
<!-- template answer_edit.html -->
{% block title %}{% spaceless %}{% trans %}Edit answer{% endtrans %}{% endspaceless %}{% endblock %}
{% block forestyle %}
    <link rel="stylesheet" type="text/css" href="{{"/js/wmd/wmd.css"|media}}" />
{% endblock %}
{% block content %}
<h1 class="section-title">
    {% trans %}Edit answer{% endtrans %} [<a href="{{ answer.thread._question_post().get_absolute_url() }}#{{ answer.id }}">{% trans %}back{% endtrans %}</a>]
</h1>
<div id="main-body" class="ask-body">
    <form id="fmedit" action="{% url edit_answer answer.id %}" method="post" >{% csrf_token %}
        <label for="id_revision" >{% trans %}revision{% endtrans %}:</label> <br/> 
        {% if revision_form.revision.errors %}{{ revision_form.revision.errors.as_ul() }}{% endif %}
        <div style="vertical-align:middle">
        {{ revision_form.revision }} <input type="submit" style="display:none" id="select_revision" name="select_revision" value="{% trans %}select revision{% endtrans %}">
        </div>
        {{ macros.edit_post(form) }}
        {% if settings.WIKI_ON %}
            {{ macros.checkbox_in_div(form.wiki) }}
        {% endif %}
        {% if settings.ALLOW_ASK_ANONYMOUSLY %}
            {{ macros.checkbox_in_div(form.ask_anonymously) }}
        {% endif %}
        <div class="after-editor">
            <input type="submit" value="{% trans %}Save edit{% endtrans %}" class="submit" />&nbsp;
            <input type="button" value="{% trans %}Cancel{% endtrans %}" class="submit" onclick="history.back(-1);" />
        </div>

    </form>
</div>
{% endblock %}

{% block sidebar %}
    {% include "widgets/answer_edit_tips.html" %}
{% endblock %}

{% block endjs %}
    {% include "meta/editor_data.html" %}
    <script type='text/javascript' src='{{"/js/editor.js"|media}}'></script>
    <script type='text/javascript' src='{{"/js/jquery.validate.min.js"|media}}'></script>
    <script type='text/javascript' src='{{"/js/post.js"|media}}'></script>
    <script type='text/javascript'>
        {% if settings.ENABLE_MATHJAX or settings.MARKUP_CODE_FRIENDLY %}
            var codeFriendlyMarkdown = true;
        {% else %}
            var codeFriendlyMarkdown = false;
        {% endif %}
    </script>
<!--     <script type='text/javascript' src='{{"/js/wmd/showdown.js"|media}}'></script>
    <script type='text/javascript' src='{{"/js/wmd/wmd.js"|media}}'></script>
-->
	<script type='text/javascript' src='{{"/ckeditor/ckeditor/ckeditor.js"|media}}'></script>
	<script>
	function initCKEDITOR()
	{
		//var editor = CKEDITOR.replace( 'editor' ,{skin:'v2',language:'zh',filebrowserBrowseUrl: '/m/common/media/filemanager/index.html',});
		var editor = CKEDITOR.replace( 'editor' ,{skin:'v2',language:'zh-tw',filebrowserBrowseUrl: '/m/common/media/filemanager/index.html',filebrowserUploadUrl : '/admin/c5filemanager/?path=%2Fupload%2F&mode=addfile&currentpath=xx&showThumbs=true',});		
	}
	/* for Mozilla/Opera9 */
	if (document.addEventListener) {
	  document.addEventListener("DOMContentLoaded", initCKEDITOR, false);
	}
	else
	{
		if (/WebKit/i.test(navigator.userAgent)) { // sniff
		  var _timer = setInterval(function() {
			if (/loaded|complete/.test(document.readyState)) {
			  initCKEDITOR(); // call the onload handler
			}
		  }, 10);
		}
		else
		{
			/* for other browsers */
			window.onload = initCKEDITOR;
		}
	}
	CKEDITOR.on( 'dialogDefinition', function( ev )
	{
		// Take the dialog name and its definition from the event data.
		var dialogName = ev.data.name;
		var dialogDefinition = ev.data.definition;

		// Check if the definition is from the dialog we're
		// interested on (the Link dialog).
		if ( dialogName == 'link' )
		{
			// FCKConfig.LinkDlgHideAdvanced = true
			dialogDefinition.removeContents( 'advanced' );

			// FCKConfig.LinkDlgHideTarget = true
			dialogDefinition.removeContents( 'target' );
	/*
	Enable this part only if you don't remove the 'target' tab in the previous block.

			// FCKConfig.DefaultLinkTarget = '_blank'
			// Get a reference to the "Target" tab.
			var targetTab = dialogDefinition.getContents( 'target' );
			// Set the default value for the URL field.
			var targetField = targetTab.get( 'linkTargetType' );
			targetField[ 'default' ] = '_blank';
	*/
		}

		if ( dialogName == 'image' )
		{
			//FCKConfig.ImageDlgHideAdvanced = true	
			dialogDefinition.removeContents( 'advanced' );
			//FCKConfig.ImageDlgHideLink = true
			dialogDefinition.removeContents( 'Link' );
		}

		if ( dialogName == 'flash' )
		{
			//CKConfig.FlashDlgHideAdvanced = true
			dialogDefinition.removeContents( 'advanced' );
		}

	});

	</script>

    <script type="text/javascript">
        $().ready(function(){
            $("#nav_questions").attr('className',"on");
            $('#editor').TextAreaResizer();
            
            //highlight code synctax when editor has new text
            $("#editor").typeWatch({highlight: false, wait: 3000,
                             captureLength: 5, callback: lanai.highlightSyntax});
                             
            //toggle preview of editor
            var display = true;
            var txt = "{% trans %}hide preview{% endtrans %}";
            $('#pre-collapse').text(txt);
            $('#pre-collapse').bind('click', function(){
                txt = display ? "{% trans %}show preview{% endtrans %}" : "{% trans %}hide preview{% endtrans %}";
                display = !display;
                $('#previewer').toggle();
                $('#pre-collapse').text(txt);
            });

            setupFormValidation(
                $("#fmedit"),
                CPValidator.getAnswerFormRules(),
                CPValidator.getAnswerFormMessages()
            );
            
            $('#id_revision').unbind().change(function(){
                $("#select_revision").click();
            });
            
            lanai.highlightSyntax();
            
        });
    </script>
{% endblock %}
<!-- end template answer_edit.html -->
