{% extends "two_column_body.html" %}
{% import "macros.html" as macros %}
<!-- template ask.html -->
{% block title %}{% spaceless %}{% trans %}Ask a question{% endtrans %}{% endspaceless %}{% endblock %}
{% block forestyle %}
    <link rel="stylesheet" type="text/css" href="{{"/js/wmd/wmd.css"|media}}" />
{% endblock %}
{# main contents of ask form is in the template input_bar #}
{% block sidebar %}
{% include "widgets/question_edit_tips.html" %}
{% endblock %}
{% block content %}
        {% include "widgets/ask_form.html" %}
{% endblock %}
{% block endjs %}
    <script type='text/javascript' src='{{"/js/editor.js"|media}}'></script>
    <script type='text/javascript' src='{{"/js/jquery.validate.js"|media}}'></script>
    <script type='text/javascript' src='{{"/js/post.js"|media}}'></script>
<!--     <script type='text/javascript' src='{{"/js/wmd/showdown.js"|media}}'></script>
    <script type='text/javascript' src='{{"/js/wmd/wmd.js"|media}}'></script> -->
    <script type='text/javascript'>
        var sortMethod = undefined;//need for live_search
        var minSearchWordLength = {{settings.MIN_SEARCH_WORD_LENGTH}};
    </script>
    <script type='text/javascript' src='{{"/js/live_search_new_thread.js"|media}}'></script>
    {% include "meta/editor_data.html" %}
    {% if mandatory_tags %}
        {% include "meta/mandatory_tags_js.html" %}
    {% endif %}
	<script type='text/javascript' src='{{"/ckeditor/ckeditor/ckeditor.js"|media}}'></script>
	<script>
	function initCKEDITOR()
	{
		//var editor = CKEDITOR.replace( 'editor' ,{skin:'v2',language:'zh',filebrowserBrowseUrl: '/m/common/media/filemanager/index.html',});
		var editor = CKEDITOR.replace( 'editor' ,{skin:'v2',language:'zh-tw',filebrowserBrowseUrl: '/m/common/media/filemanager/index.html',filebrowserUploadUrl : '/admin/c5filemanager/?path=%2Fupload%2F&mode=addfile&currentpath=xx&showThumbs=true',});
		//var editor1 = CKEDITOR.replace( 'featurepic', { skin:'v2',language:'zh',filebrowserBrowseUrl: '/m/common/media/filemanager/index.html',} );
		var editor1 = CKEDITOR.replace( 'featurepic', { skin:'v2',language:'zh-tw',filebrowserBrowseUrl: '/m/common/media/filemanager/index.html',filebrowserUploadUrl : '/admin/c5filemanager/?path=%2Fupload%2F&mode=addfile&currentpath=xx&showThumbs=true',toolbar :[[ 'Image','Flash'],[ 'UIColor' ]],} );
	}
	/* for Mozilla/Opera9 */
	if (document.addEventListener) {
	  document.addEventListener("DOMContentLoaded", initCKEDITOR, false);
	}
	else
	{
		if (/WebKit/i.test(navigator.userAgent)) { // sniff
		  var _timer = setInterval(function() {
			if (/loaded|complete/.test(document.readyState)) {
			  initCKEDITOR(); // call the onload handler
			}
		  }, 10);
		}
		else
		{
			/* for other browsers */
			window.onload = initCKEDITOR;
		}
	}
	CKEDITOR.on( 'dialogDefinition', function( ev )
	{
		// Take the dialog name and its definition from the event data.
		var dialogName = ev.data.name;
		var dialogDefinition = ev.data.definition;

		// Check if the definition is from the dialog we're
		// interested on (the Link dialog).
		if ( dialogName == 'link' )
		{
			// FCKConfig.LinkDlgHideAdvanced = true
			dialogDefinition.removeContents( 'advanced' );

			// FCKConfig.LinkDlgHideTarget = true
			dialogDefinition.removeContents( 'target' );
	/*
	Enable this part only if you don't remove the 'target' tab in the previous block.

			// FCKConfig.DefaultLinkTarget = '_blank'
			// Get a reference to the "Target" tab.
			var targetTab = dialogDefinition.getContents( 'target' );
			// Set the default value for the URL field.
			var targetField = targetTab.get( 'linkTargetType' );
			targetField[ 'default' ] = '_blank';
	*/
		}

		if ( dialogName == 'image' )
		{
			//FCKConfig.ImageDlgHideAdvanced = true	
			dialogDefinition.removeContents( 'advanced' );
			//FCKConfig.ImageDlgHideLink = true
			dialogDefinition.removeContents( 'Link' );
		}

		if ( dialogName == 'flash' )
		{
			//CKConfig.FlashDlgHideAdvanced = true
			dialogDefinition.removeContents( 'advanced' );
		}

	});

	</script>

    <script type='text/javascript'>
        askbot['urls']['api_get_questions'] = '{% url api_get_questions %}';
        {% if settings.ENABLE_MATHJAX or settings.MARKUP_CODE_FRIENDLY %}
            var codeFriendlyMarkdown = true;
        {% else %}
            var codeFriendlyMarkdown = false;
        {% endif %}
        $().ready(function(){
            liveSearchNewThreadInit();
            //set current module button style
            $('#editor').TextAreaResizer();

            //highlight code synctax when editor has new text
            $("#editor").typeWatch({highlight: false, wait: 3000,
                             captureLength: 5, callback: lanai.highlightSyntax});

            //toggle preview of editor
            //todo remove copy-paste
            var display = true;
            var txt = "[{% trans %}hide preview{% endtrans %}]";
            $('#pre-collapse').text(txt);
            $('#pre-collapse').bind('click', function(){
                txt = display ? "[{% trans %}show preview{% endtrans %}]" : "[{% trans %}hide preview{% endtrans %}]";
                display = !display;
                $('#previewer').toggle();
                $('#pre-collapse').text(txt);
            });
            //Tags autocomplete

            {{ macros.tag_autocomplete_js(id = '#id_tags') }}

            setupFormValidation($("#fmask"), CPValidator.getQuestionFormRules(), CPValidator.getQuestionFormMessages());
            lanai.highlightSyntax();
        });
    </script>
{% endblock %}

<!-- end template ask.html -->
