<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- template base.html -->
<html xmlns="http://www.w3.org/1999/xhtml">
    {% spaceless %}
    <head>

        <title>{% block title %}{% endblock %} - {{ settings.APP_TITLE|escape }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="{{ settings.SITE_FAVICON|media }}" />
		<link href="{{"/style/style.css"|media }}" rel="stylesheet" type="text/css" />
        {% block forestyle %}{% endblock %}
        

    </head>
    {% endspaceless %}
    <body class="{% block body_class %}{% endblock %}{% if user_messages %} user-messages{% endif %}{% if page_class %} {{page_class}}{% endif %}{% if request.user.is_anonymous() %} anon{% endif %} lang-{{settings.LANGUAGE_CODE}}">

        {% if settings.CUSTOM_HEADER|trim != '' %}
        <div id="custom-header">
            {{settings.CUSTOM_HEADER}}
        </div>
        {% endif %}
        {# {% include "widgets/secondary_header.html" %} #} {# Scope selector, search input and ask button #}  
        {% if settings.ENABLE_LEADING_SIDEBAR %}
        <div id="leading-sidebar">
            {{ settings.LEADING_SIDEBAR }}
        </div>
        {% endif %}
        <div class="header-wrapper">
			<div class="content-wrapper">
			{% include "widgets/header_keepwin_secure.html" %} {# Logo, user tool navigation and meta navitation #}
            {% block body %}
            {% endblock %}
			</div>
        </div>
        {% if settings.FOOTER_MODE == 'default' %}
            {% include "widgets/footer.html" %}
        {% elif settings.FOOTER_MODE == 'customize' %}
            {{ settings.CUSTOM_FOOTER }}
        {% endif %}
        {% include "custom_footer.html" ignore missing %}

        {% block endjs %}
        {% endblock %}

    </body>
</html>
<!-- end template base.html -->
