{% import "macros.html" as macros %}
{% extends "one_column_body.html" %}
{% block content%}
<h1 align="center">【靈龜穩賺網會員申請同意書 】</h1>

<div align="left" class="member_notice">
<UL style="list-style-type:none;">
歡迎您使用「靈龜穩賺網」所提供的閱覽服務（以下稱「本服務」），本服務係由「靈龜穩賺網」所提供，以下簡稱為「本公司」。 <BR>
<li>1.本服務提供網路平台，可供本公司會員閱覽文章、留言。</li>
<li>2.您有義務妥善保護自己的帳號及密碼，每次使用完本服務後請確實登出，以防他人盜用。您應為此組帳號與密碼登入系統後所進行之一切活動負責。為維護您自身權益，請勿將帳號與密碼洩露或提供予第三人知悉，或出借、轉讓他人使用。</li>
<li>3.因本服務所提供之所有相關網域名稱及網路位址，仍屬於本公司所有。本公司保留變更相關網域名稱或網路位址之權利。</li>
<li>4.於本服務內所有文章內容，係由本公司擇優秀之會員自行提供，提供之會員自行需對該內容擔保其合法性與相關之損害賠償責任，本公司不負擔任何連帶賠償之責任。</li>
<li>5.本服務上所發表的文章、留言、回應和其他訊息僅代表發表者本人看法，非本公司之觀點。</li>
<li>6.您發表的文章、留言、回覆等內容，應遵守網路討論相關規範，並應自行負所有法律責任，如有違反，本服務有權刪除您的言論或停止你閱覽之會員資格。如因此致第三人向本服務為任何法律之主張和請求，或主管機關對本服務為任何行政處分，您應賠償本服務之一切損害。</li>
<li>7.發表於本服務之所有文章、資訊及網站畫面之安排，其著作權、專利權、商標、營業秘密、其他智慧財產權、所有權或其他權利，均受法律保護，除事先經本服務或其發表者之合法授權外，任何人皆不得擅自複製、重製、改作、編輯、散布、傳輸或租用、出售或以其他任何形式、基於任何目的加以使用，否則除停止會員權利外，應負所有法律責任，本服務得依法請求賠償。</li>
<li>8.對於您於本服務中所下載之圖片、檔案及其他資料，您應該自行考量其風險，如因下載而造成您電腦系統的損壞或電腦中資料的遺失或侵害他人權利時，本服務不負任何擔保責任。</li>
<li>9.您使用本服務時，可能會接收到一部分廣告訊息。所有的廣告內容均係由廣告主或廠商所提供，與本服務無涉。對於廣告內容的真偽或可靠度，您應自行判斷。</li>
<li>10.經發現或檢舉有下列情事之一者，本公司有權將您的發言刪除、暫停您帳號的使用權利或終止使用本服務：
誹謗、詐欺、侮辱、猥褻、色情、賭博、電腦病毒散撥或侵害他人隱私等行為，並保留法律追訴權。
<ul>
<li>侵害他人智慧財產權或其他權利之虞（如肖像權、著作權、商標權等）。</li>
<li>影響本服務正常營運之行為。</li>
<li>影響其他使用者權益之行為。</li>
<li>違反公共秩序、善良風俗或違法之虞。</li>
<li>其他任何違反我國現行法令之行為或「靈龜穩賺網」有正當理由認為不適當之行為。</li>
<li>未經本公司授權同意，將本服務作為商業或廣告用途。</li>
<li>利用本平台散佈境外基金相關資訊，被主管機關認定有以下行為：在中華民國境內從事代理募集或銷售未經政府核准的境外基金，涉有違反證券投資信託及顧問法之可能。</li>
</UL>
<li>11.本服務之所有內容，包含文字、圖形、程式、畫面安排及資料編輯等，其著作權、專利權、商標及其他智慧財產權，均屬於本公司或授權本公司使用之正當權利人。在未經本公司或正當權利人合法授權前，您不得擅自以任何形式複製、改作、編輯、散布、公開傳播或其他非法使用，否則本公司將依法追訴並請求賠償。</li>
<li>12.您留言的內容，請遵照中華民國法律，請勿違反證券、期貨、基金、投顧等相關管理辦法。</li>
<li>13.金融相關從業人員，須具備證券投資分析人員證照，且於股市交易前、後一小時以及盤中，不可留言推薦個股；盤後可講解大盤，也可分析各類股，但不得報價位。</li>
<li>14.本公司有權隨時增加、變更或取消本服務中相關系統或功能之全部或一部份之權利且無須個別通知會員。</li>
<li>15.本公司對本服務相關軟硬體設備進行搬遷、更換、升級、保養或維修時，得暫停或中斷本服務之全部或一部。無論任何情形，「靈龜網」就停止或更改服務所可能致生之困擾、不便、損害，不負任何賠償責任。</li>
<li>16.本公司保留隨時修改本服務之使用條款權利，修改後的使用條款將公佈在本公司網站上之相關網頁，並自公布之日起生效，不另外個別通知使用者。</li>
<li>17.基於公司運作及營運上之考量，本公司保留更改或停止提供本服務之全部或其他之權利，使用者不可以因此而要求賠償或補償。</li>
<li>18. 因本服務所生之一切爭議適用中華民國法律，並以台灣台北地方法院為第一審管轄法院。
</UL>
</div>
<h1 align="center" style="color:red">請填寫真實會員資料，如填寫個人資料不實或造假，一律刪除註冊申請</h1>
<div align="center">
<input type="button" value="我同意遵行會員使用規則" onclick="location='{% url user_signup_with_password %}?login_provider=local'" />
<input type="button" value="取消註冊" onclick="location='/'"/>
</div>

</div>
{% endblock %}