{% extends "two_column_body.html" %}
<!-- question.html -->
{% block title %}{% spaceless %}{{ question.get_question_title()|escape }}{% endspaceless %}{% endblock %}
{% block meta_description %}
        <meta name="description" content="{{question.summary|striptags|escape}}" />
{% endblock %}
{% block keywords %}{{thread.tagname_meta_generator()}}{% endblock %}
{% block forestyle %}
    <link rel="canonical" href="{{settings.APP_URL}}{{question.get_absolute_url()}}" />
{% endblock %}
{% block forejs %}
    <script type="text/javascript">
        /*<![CDATA[*/
        //below is pure cross-browser javascript, no jQuery
			(function(){
				var data = askbot['data'];
				if (data['userIsAuthenticated']){
					var votes = {};
					{% for post_id in user_votes %}
						votes['{{post_id}}'] = {{user_votes[post_id]}};
					{% endfor %}
					data['user_votes'] = votes;
					var posts = {};
					{% for post_id in user_post_id_list %}
						posts['{{post_id}}'] = 1;
					{% endfor %}
					data['user_posts'] = posts;
				}

				function render_vote_buttons(post_type, post_id){
					var upvote_btn = document.getElementById(
						post_type + '-img-upvote-' + post_id
					);
					var downvote_btn = document.getElementById(
						post_type + '-img-downvote-' + post_id
					);
					if (data['userIsAuthenticated']){
						if (post_id in data['user_votes']){
							var vote = data['user_votes'][post_id];
							if (vote == -1){
								var btn = downvote_btn;
							} else if (vote == 1){
								var btn = upvote_btn;
							} else {
								return;
							}
							if (post_type == 'comment'){
								btn.className = btn.className + ' upvoted';
							} else {
								btn.className = btn.className + ' on';
							}
						}
					}
				}
				function render_post_controls(post_id){
					if (data['userIsAdminOrMod']){
						return;//all functions on
					}
					if (post_id in data['user_posts']){
						//todo: remove edit button from older comments
						return;//same here
					}
					if (//maybe remove "delete" button
						data['userReputation'] < 
						{{settings.MIN_REP_TO_DELETE_OTHERS_COMMENTS}}
					) {
						var delete_btn = document.getElementById(
							'post-' + post_id + '-delete'
						);
						delete_btn.parentNode.removeChild(delete_btn);
					}
					if (//maybe remove "edit" button
						data['userReputation'] <
						{{settings.MIN_REP_TO_EDIT_OTHERS_POSTS}}
					){
						var edit_btn = document.getElementById(
							'post-' + post_id + '-edit'
						)
						edit_btn.parentNode.removeChild(edit_btn);
					}
					if (//maybe remove retag button
						data['userReputation'] <
						{{settings.MIN_REP_TO_RETAG_OTHERS_QUESTIONS}}
					){
						var retag_btn = document.getElementById('retag');
						retag_btn.parentNode.removeChild(retag_btn);
					}
				}
				function render_add_comment_button(post_id, extra_comment_count){
					var can_add = false;
					{% if user_can_post_comment %}
						can_add = true;
					{% else %}
						if (post_id in data['user_posts']){
							can_add = true;
						}
					{% endif %}
					var add_comment_btn = document.getElementById(
						'add-comment-to-post-' + post_id
					);
					if (can_add === false){
						add_comment_btn.parentNode.removeChild(add_comment_btn);
						return;
					}

					var text = '';
					if (extra_comment_count > 0){
						if (can_add){
							text = 
			"{% trans %}post a comment / <strong>some</strong> more{% endtrans %}";
						} else {
							text = 
			"{% trans %}see <strong>some</strong> more{% endtrans%}";
						}
					} else {
						if (can_add){
							text = "{% trans %}post a comment{% endtrans %}";
						}
					}
					add_comment_btn.innerHTML = text;
					//add the count
					for (node in add_comment_btn.childNodes){
						if (node.nodeName === 'strong'){
							node.innerHTML = extra_comment_count;
							break;
						}
					}
				}
				function render_add_answer_button(){
					var add_answer_btn = document.getElementById('add-answer-btn');
					if (askbot['data']['userIsAuthenticated']){
						if (askbot['data']['userId'] == {{question.author_id}}){
							add_answer_btn.setAttribute(
								'value',
								'{% trans %}Answer Your Own Question{% endtrans %}'
							)
						} else {
							add_answer_btn.setAttribute(
							   'value',
								'{% trans %}Post Your Answer{% endtrans %}'
							)
						}
					} else {
						add_answer_btn.setAttribute(
							'value',
							'{% trans %}Login/Signup to Post{% endtrans %}'
						);
					}
				}
				askbot['functions'] = askbot['functions'] || {};
				askbot['functions']['renderPostVoteButtons'] = render_vote_buttons;
				askbot['functions']['renderPostControls'] = render_post_controls;
				askbot['functions']['renderAddCommentButton'] = render_add_comment_button;
				askbot['functions']['renderAddAnswerButton'] = render_add_answer_button;
			})();
        /*]]>*/
    </script>
{% endblock %}
{% block content %}
	{% if thread.passcode == '' %}
		{% if is_cacheable %}
			{% cache long_time "thread-content-html" thread.id %}
				{% include "question/content.html" %}
			{% endcache %}
		{% else %}
			{% include "question/content.html" %}
		{% endif %}
	{% else %}
		<form id="fmanswer" method="post" >{% csrf_token %}
			<label for="passcode_id"><h3>{{form.passcode.label}}<span class="form-error">{{form.passcode.errors}}</span></h3></label><BR>{{form.passcode}}<BR>
			<input type="submit" value="{% trans %}Submit Pass Code{% endtrans %}" class="submit" style="float:left"/>
		</form>
	{% endif %}
{% endblock %}

{% block sidebar %}
	{% include "question/sidebar.html" %}
{% endblock %}
{% block endjs %}
	<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{settings.FACEBOOK_KEY}}";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	</script>
	{% include "question/javascript.html" %}
		<script type='text/javascript' src='{{"/ckeditor/ckeditor/ckeditor.js"|media}}'></script>
		<script>
		function initCKEDITOR()
		{
			//var editor = CKEDITOR.replace( 'editor' ,{skin:'v2',language:'zh',filebrowserBrowseUrl: '/m/common/media/filemanager/index.html',});
			var editor = CKEDITOR.replace( 'editor' ,{skin:'v2',language:'zh-tw',filebrowserBrowseUrl: '/m/common/media/filemanager/index.html',filebrowserUploadUrl : '/admin/c5filemanager/?path=%2Fupload%2F&mode=addfile&currentpath=xx&showThumbs=true',});		
		}
		/* for Mozilla/Opera9 */
		if (document.addEventListener) {
		  document.addEventListener("DOMContentLoaded", initCKEDITOR, false);
		}
		else
		{
			if (/WebKit/i.test(navigator.userAgent)) { // sniff
			  var _timer = setInterval(function() {
				if (/loaded|complete/.test(document.readyState)) {
				  initCKEDITOR(); // call the onload handler
				}
			  }, 10);
			}
			else
			{
				/* for other browsers */
				window.onload = initCKEDITOR;
			}
		}
		CKEDITOR.on( 'dialogDefinition', function( ev )
		{
			// Take the dialog name and its definition from the event data.
			var dialogName = ev.data.name;
			var dialogDefinition = ev.data.definition;

			// Check if the definition is from the dialog we're
			// interested on (the Link dialog).
			if ( dialogName == 'link' )
			{
				// FCKConfig.LinkDlgHideAdvanced = true
				dialogDefinition.removeContents( 'advanced' );

				// FCKConfig.LinkDlgHideTarget = true
				dialogDefinition.removeContents( 'target' );
		/*
		Enable this part only if you don't remove the 'target' tab in the previous block.

				// FCKConfig.DefaultLinkTarget = '_blank'
				// Get a reference to the "Target" tab.
				var targetTab = dialogDefinition.getContents( 'target' );
				// Set the default value for the URL field.
				var targetField = targetTab.get( 'linkTargetType' );
				targetField[ 'default' ] = '_blank';
		*/
			}

			if ( dialogName == 'image' )
			{
				//FCKConfig.ImageDlgHideAdvanced = true	
				dialogDefinition.removeContents( 'advanced' );
				//FCKConfig.ImageDlgHideLink = true
				dialogDefinition.removeContents( 'Link' );
			}

			if ( dialogName == 'flash' )
			{
				//CKConfig.FlashDlgHideAdvanced = true
				dialogDefinition.removeContents( 'advanced' );
			}

		});

		</script>
	{#
	<script type="text/javascript">
		var messages = askbot['messages'];
		messages['upvote_question'] = gettext(
			'I like this question (click again to cancel)'
		);
		messages['upvote_answer'] = gettext(
			'I like this answer (click again to cancel)'
		);
		messages['downvote_question'] = gettext(
			"I don't like this question (click again to cancel)"
		);
		messages['downvote_answer'] = gettext(
			"I don't like this answer (click again to cancel)"
		);
	</script>
	#}
	<script type='text/javascript' src="{{"/js/highslide-with-gallery.js"|media }}"></script>
	<link href="{{"/js/highslide.css"|media }}" rel="stylesheet" type="text/css" />
	<script type="text/javascript">
	hs.graphicsDir = "/m/common/media/js/graphics/";
	hs.wrapperClassName = 'wide-border';
	var images = $('div.question-body img');
	images.each(function() {
	  $(this).parent().append('<a href="'+$(this).attr('src')+'" class="highslide" onclick="return hs.expand(this)" width=javascript:screen.width height=auto><img src="'+$(this).attr('src')+'" alt="Highslide JS" title="{% trans %}Click to enlarge{% endtrans %}" /></a>');
      $(this).hide()
	});
	//$('div.question-body img').parent().append('<a href="'+$('div.question-body img').attr('src')+'" class="highslide" onclick="return hs.expand(this)" width=100% height=auto><img src="'+$('div.question-body img').attr('src')+'" alt="Highslide JS" title="{% trans %}Click to enlarge{% endtrans %}" /></a>');
	//$('div.question-body img:not(div.question-body a img)').hide()
	</script>

{% endblock %}
