{% from "macros.html" import user_country_flag, tag_list_widget, keepwin_blog_avatar,featurePIC %}
<!-- question_summary_keepwin.html -->
<div class="item">
	<div class="to_keepwin_img">{{ featurePIC(thread,question,60) }}
		<div class="to_feed_tag">
			{{ tag_list_widget(thread.get_tag_names(), search_state=search_state) }}
		</div>
	</div>
	<a title="{{thread.title|striptags}}" href="{{ question.get_absolute_url(thread=thread) }}" class="group">
		<h3>{{thread.get_title(question)|escape}}</h3>
		<p>{{ question.summary|escape }}...</p>
	</a>
	{% if question.is_charged %}
			<div class="charged">
				<a href="/payment"  target="_blank"><img src="/m/common/media/images/icons/payment.jpg" alt="" />{{question.cost|humanize_counter}}{% trans %}Charged{% endtrans %}</a>
				<li class="item-count"></li>
			</div>
	{% endif %}
</div>



