<!-- template secondary_header.html -->
<div id="secondaryHeader">
    <div class="content-wrapper">
        <a id="homeButton" href="{% url questions %}"></a>
        <div id="scopeWrapper">
            {% include "widgets/scope_nav.html" %}            
            {% include "widgets/search_bar.html" %} {# include search form widget #}
        </div>
		{% if request.user.is_authenticated() and request.user.can_post_user() %}
			{% include "widgets/ask_button.html" %} 
		{% endif %}
        <div class="clean"></div>
    </div>
</div>
