
<div class="vote-buttons">
    {# ==== BEGIN: question/question_vote_buttons.html ==== #}
    {% include "question/question_vote_buttons.html" %}
    {# ==== END: question/question_vote_buttons.html ==== #}
    {# ==== BEGIN: question/share_buttons.html ==== #}
    {% include "question/share_buttons.html" %}
    {# ==== END: question/share_buttons.html ==== #}
</div>
<div class="question-content">
	<table>
	<tr>
	<td>
	<div class="question-title">
    <h1><a href="{{ question.get_absolute_url() }}">{{ thread.get_title(question)|escape }}</a></h1>

    {% include "question/question_tags.html" %}
    {# ==== END: question/question_tags.html" #}
	{% if settings.ENABLE_SHARING_LIKE_LINK %}
		<div class="to_feed_social">
			<div class="to_feed_social_ele">
				<a href="https://twitter.com/share" class="twitter-share-button" data-lang="zh-tw">推文</a>
			</div>
			<div class="to_feed_social_ele">
				<div class="fb-like" data-href="{{ question.get_absolute_url(thread=thread) }}" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" font="arial"></div>
			</div>
			<div class="to_feed_social_ele">
				<g:plusone size="small"></g:plusone>
			</div>
		</div>
	{% endif %}
	</div>
	</td>
	<td>
	<div class="post-update-info-container">
		{# ==== START: "question/question_author_info.html" #}
		{% include "question/question_author_info.html" %}
		{# ==== END: "question/question_author_info.html" #}
	</div>
	</td>
	</tr>
	</table>
    <div id="question-table" {% if question.deleted %}class="deleted"{%endif%}>
        <div class="question-body">

			{% if settings.PRESENT_ORIGINAL_POST %}
				{{ question.text }}
			{% else %}
				{{ question.html }}
			{% endif %}
			
        </div>
        <div id="question-controls" class="post-controls">
            {# ==== START: include "question/question_controls.html" #}
            {% include "question/question_controls.html" %}
            {# ==== END: include "question/question_controls.html" #}
        </div>
        {# ==== START: question/question_comments.html ==== #}
        {% include "question/question_comments.html" %}
        {# ==== END: question/question_comments.html ==== #}
		
	</div>
    </div>

	
	
<div class="clean"></div>
<div class="social-comment-body">
{% if settings.ENABLE_FACEBOOK_DISCUSSION %}
	<div id="social_comment_0" class="disyshow">
		<h2 id="social_comment_tab_0">facebook</h2>
		<div id="fb-root"></div>
		<div class="fb-comments" data-href="http://www.keepwin.com.tw" data-num-posts="2" data-width="730"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=380972548592522";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	</div>
{% endif %}	
{% if settings.ENABLE_DISQUES_DISCUSSION %}
	<div id="social_comment_1" class="disyshow">
		<h2 id="social_comment_tab_0">Disqus</h2>
		<script type="text/javascript">
	
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
			var disqus_shortname = 'asalifinance'; // required: replace asalifinance with your forum shortname

			/* * * DON'T EDIT BELOW THIS LINE * * */
			(function() {
				var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
				dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

	</div>
{% endif %}	
</div>
<div class="clean"></div>
