{% extends "one_column_body.html" %}
{% import "authopenid/authopenid_macros.html" as login_macros %}
<!--signup.html-->
{% block title %}{% spaceless %}{% trans %}Signup{% endtrans %}{% endspaceless %}{% endblock %}
{% block forestyle %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{"/jquery-openid/openid.css"|media}}"/>
{% endblock %}
{% block content %}
{% if settings.PASSWORD_REGISTER_SHOW_PROVIDER_BUTTONS == True %}
    <h1 class="section-title">{% trans %}Please register by clicking on any of the icons below{% endtrans %}</h1>
    <form id="signin-form" method="post" action="{{ settings.LOGIN_URL }}">{% csrf_token %}
        {# hide_local_login == True because it is password reg form #}
        {{ 
            login_macros.provider_buttons(
                login_form = login_form,
                major_login_providers = major_login_providers,
                minor_login_providers = minor_login_providers,
                hide_local_login = True,
                settings = settings
            )
        }}
    </form>
    <h2>{% trans %}or create a new user name and password here{% endtrans %}</h2>
{% else %}
    <h1>{% trans %}Create login name and password{% endtrans %}</h1>
    <p class="message">{% trans %}Traditional signup info{% endtrans %}</p>
{%endif%}
<form action="{% url user_signup_with_password %}" method="post" accept-charset="utf-8">{% csrf_token %}
    {{form.login_provider}}
    <ul class="form-horizontal-rows">
    <li><label for="usename_id">{{form.username.label}}</label>{{form.username}}{{form.username.errors}}</li>
    <li><label for="email_id">{{form.email.label}}</label>{{form.email}}{{form.email.errors}}</li>
    <li><label for="password1_id">{{form.password1.label}}</label>{{form.password1}}{{form.password1.errors}}</li>
    <li><label for="password2_id">{{form.password2.label}}</label>{{form.password2}}{{form.password2.errors}}</li>
	</ul><BR>
	<table width="700" cellpadding="2" cellspacing="1" bgcolor="#BFD1F0" class=t10>
		<tr>
			<td  height="20" colspan=2 class="t10">
					<font class="t10" color="#FFFF00">
						<font color="#000000">{% trans %}In order to offer better personalization service. Please fill up these items.{% endtrans %}</font>
					</font>
			</td>
		</tr>
		<tr bgcolor="#FFFFFF">
			<td width="95" height="20"><label for="mobile_id">{{form.mobile.label}}</label></td>
			<td width="304" height="20" class="t10">{{form.mobile}}{{form.mobile.errors}}</td>
		</tr>
		<tr bgcolor="#FFFFFF">
			<td width="95" height="20"><label for="gender_id">{{form.gender.label}}</label></td>
			<td width="304" height="20" class="t10">{{form.gender }}{{form.gender.errors }}</td>
		</tr>
		<tr bgcolor="#FFFFFF">
			<td width="95" height="20"><label for="education_id">{{form.education.label}}</label></td>
			<td width="304" height="20" class="t10">{{form.education }}{{form.education.errors }}</td>
		</tr>
		<tr bgcolor="#FFFFFF">
			<td width="95" height="20"><label for="income_id">{{form.income.label}}</label></td>
			<td width="304" height="20" class="t10">{{form.income }}{{form.income.errors }}</td>
		</tr>
		<tr bgcolor="#FFFFFF">
			<td width="95" height="20"><label for="occupational_id">{{form.occupational.label}}</label></td>
			<td width="304" height="20" class="t10">{{form.occupational }}{{form.occupational.errors }}</td>
		</tr>
	</table><BR>
	<table width="700" cellpadding="1" cellspacing="1" bgcolor="#BFD1F0" class=t10>
		<tr>
		<td  height="20"  color="#FFFF00">
			<font color="#000000"><font color=red>＊</font>{% trans %}Would you like to receive these investment informations ? (Multiple Choice){% endtrans %}</font><br>
			<font color=red>{% trans %}Please check these items carefully. It will be very helpful to your wealth.{% endtrans %}</font>
		</td>
		</tr>
		<tr bgcolor="#FFFFFF">
			<td  height="20">
			<table class=t10>
				<tr valign=center class="t10">
					<td>
						{{form.SAT1 }}<label for="SAT1_id">{{form.SAT1.label}}</label>{{form.SAT1.errors }}
					</td>
				</tr>
				<tr valign=center class="t10">
					<td>
						{{form.SAT2 }}<label for="SAT2_id">{{form.SAT2.label}}</label>{{form.SAT2.errors }}
						{{form.SAT3 }}<label for="SAT3_id">{{form.SAT3.label}}</label>{{form.SAT3.errors }}
						{{form.SAT4 }}<label for="SAT4_id">{{form.SAT4.label}}</label>{{form.SAT4.errors }}
						{{form.SAT5 }}<label for="SAT5_id">{{form.SAT5.label}}</label>{{form.SAT5.errors }}
					</td>
				</tr>
				<tr valign=center class="t10">
					<td>
						{{form.SAT6 }}<label for="SAT6_id">{{form.SAT6.label}}</label>{{form.SAT6.errors }}
						{{form.SAT7 }}<label for="SAT7_id">{{form.SAT7.label}}</label>{{form.SAT7.errors }}
						{{form.SAT8 }}<label for="SAT8_id">{{form.SAT8.label}}</label>{{form.SAT8.errors }}
						{{form.SAT9 }}<label for="SAT9_id">{{form.SAT9.label}}</label>{{form.SAT9.errors }}
					</td>
				</tr>
				<tr valign=center class="t10">
					<td>
						{{form.SAT10}}<label for="SAT10_id">{{form.SAT10.label}}</label>{{form.SAT10.errors }}
						{{form.SAT11}}<label for="SAT11_id">{{form.SAT11.label}}</label>{{form.SAT11.errors }}
						{{form.SAT12}}<label for="SAT12_id">{{form.SAT12.label}}</label>{{form.SAT12.errors }}
						{{form.SAT13}}<label for="SAT13_id">{{form.SAT13.label}}</label>{{form.SAT13.errors }}
					</td>
				</tr>
				<tr valign=center class="t10">
					<td>
						{{form.SAT14}}<label for="SAT14_id">{{form.SAT14.label}}</label>{{form.SAT14.errors }}
						{{form.SAT15}}<label for="SAT15_id">{{form.SAT15.label}}</label>{{form.SAT15.errors }}
						{{form.SAT16}}<label for="SAT16_id">{{form.SAT16.label}}</label>{{form.SAT16.errors }}
						{{form.SAT17}}<label for="SAT17_id">{{form.SAT17.label}}</label>{{form.SAT17.errors }}
					</td>
				</tr>
				<tr valign=center class="t10">
					<td>
						{{form.SAT18}}<label for="SAT18_id">{{form.SAT18.label}}</label>{{form.SAT18.errors }}
						{{form.SAT19}}<label for="SAT19_id">{{form.SAT19.label}}</label>{{form.SAT19.errors }}
						{{form.SAT20}}<label for="SAT20_id">{{form.SAT20.label}}</label>{{form.SAT20.errors }}
						{{form.SAT21}}<label for="SAT21_id">{{form.SAT21.label}}</label>{{form.SAT21.errors }}
					</td>
				</tr>
				<tr valign=center class="t10">
					<td>
						{{form.SAT22}}<label for="SAT22_id">{{form.SAT22.label}}</label>{{form.SAT22.errors }}
						{{form.SAT23}}<label for="SAT23_id">{{form.SAT23.label}}</label>{{form.SAT23.errors }}
						{{form.SAT24}}<label for="SAT24_id">{{form.SAT24.label}}</label>{{form.SAT24.errors }}
						{{form.SAT25}}<label for="SAT25_id">{{form.SAT25.label}}</label>{{form.SAT25.errors }}
					</td>
				</tr>
				<tr valign=center class="t10">
					<td>
						{{form.SAT26}}<label for="SAT26_id">{{form.SAT26.label}}</label>{{form.SAT26.errors }}
						{{form.SAT27}}<label for="SAT27_id">{{form.SAT27.label}}</label>{{form.SAT27.errors }}
						{{form.SAT28}}<label for="SAT28_id">{{form.SAT28.label}}</label>{{form.SAT28.errors }}
						{{form.SAT29}}<label for="SAT29_id">{{form.SAT29.label}}</label>{{form.SAT29.errors }}
					</td>
				</tr>
				<tr valign=center class="t10">
					<td>
						{{form.SAT30}}<label for="SAT30_id">{{form.SAT30.label}}</label>{{form.SAT30.errors }}
						{{form.SAT31}}<label for="SAT31_id">{{form.SAT31.label}}</label>{{form.SAT31.errors }}
						{{form.SAT32}}<label for="SAT32_id">{{form.SAT32.label}}</label>{{form.SAT32.errors }}
						{{form.SAT33}}<label for="SAT33_id">{{form.SAT33.label}}</label>{{form.SAT33.errors }}
					</td>
				</tr>
				<tr valign=center class="t10">
					<td>
						{{form.SAT34}}<label for="SAT34_id">{{form.SAT34.label}}</label>{{form.SAT34.errors }}
						{{form.SAT35}}<label for="SAT35_id">{{form.SAT35.label}}</label>{{form.SAT35.errors }}
						{{form.SAT36}}<label for="SAT36_id">{{form.SAT36.label}}</label>{{form.SAT36.errors }}
						{{form.SAT37}}<label for="SAT37_id">{{form.SAT37.label}}</label>{{form.SAT37.errors }}
					</td>
				</tr>
				<tr valign=center class="t10">
					<td>
						{{form.SAT38}}<label for="SAT48_id">{{form.SAT38.label}}</label>{{form.SAT38.errors }}
						{{form.SAT39}}<label for="SAT49_id">{{form.SAT39.label}}</label>{{form.SAT39.errors }}
						{{form.SAT40}}<label for="SAT40_id">{{form.SAT40.label}}</label>{{form.SAT40.errors }}
						{{form.SAT41}}<label for="SAT41_id">{{form.SAT41.label}}</label>{{form.SAT41.errors }}
					</td>
				</tr>
				<tr valign=center class="t10">
					<td>
						{{form.SAT42}}<label for="SAT42_id">{{form.SAT42.label}}</label>{{form.SAT42.errors }}
						{{form.SAT43}}<label for="SAT43_id">{{form.SAT43.label}}</label>{{form.SAT43.errors }}
						{{form.SAT44}}<label for="SAT44_id">{{form.SAT44.label}}</label>{{form.SAT44.errors }}
						{{form.SATOther}}{{form.SATOther.errors }}
					</td>
				</tr>
			</table>
			</td>
		</tr>
	</table>
    <p style="margin-top: 14px font-size: 16px;">{% trans %}receive updates motivational blurb{% endtrans %}</p>
    <div class='simple-subscribe-options'>
    {{email_feeds_form.subscribe}}
	{{email_feeds_form.subscribe.errors}}
    </div>
	{% if email_feeds_form.subscribe.errors %}
		<p class="error">{% trans %}please select one of the options above{% endtrans %}</p>
		<p class="error">please select one of the options above</p>
    {% endif %}
    {% if settings.USE_RECAPTCHA %}
        <p class="signup_p">{% trans %}Please read and type in the two words below to help us prevent automated account creation.{% endtrans %}</p>
        {{form.recaptcha}}
    {% endif %}
    <div class="submit-row"><input type="submit" class="submit" value="{% trans %}Create Account{% endtrans %}" /> 
    {% if settings.PASSWORD_REGISTER_SHOW_PROVIDER_BUTTONS == False %}
        <strong>{% trans %}or{% endtrans %}
        <a href="{{ settings.LOGIN_URL }}">{% trans %}return to OpenID login{% endtrans %}</a></strong>
    {% endif %}
    </div>
</form>
{% endblock %}
{%block endjs%}
{%include "authopenid/providers_javascript.html" %}
{%endblock%}
<!--end signup.html-->
