{% import "macros.html" as macros %}
<form id="fmask" action="" method="post" >{% csrf_token %}
    <div class="form-item">
        <div id="askFormBar">
            {% if not request.user.is_authenticated() %}
                <p>{% trans %}login to post question info{% endtrans %}</p>
            {% else %}
                {% if settings.EMAIL_VALIDATION %}
                    {% if not request.user.email_isvalid %}
                            {% trans email=request.user.email %}<span class='strong big'>Looks like your email address, %(email)s has not yet been validated.</span> To post messages you must verify your email, please see <a href='%(email_validation_faq_url)s'>more details here</a>.<br>You can submit your question now and validate email after that. Your question will saved as pending meanwhile.{% endtrans %}
                    {% endif %}
                {% endif %}
            {% endif %}
			
			<label for="title_id"><h3>{{form.title.label}}</h3></label><span class="form-error">{{form.title.errors}}</span><BR>{{form.title}}<BR>{{ form.title.help_text }}<BR><BR>
			<label for="subtitle_id"><h3>{{form.subtitle.label}}</h3></label><span class="form-error">{{form.subtitle.errors}}</span><BR>{{form.subtitle}}<BR><BR>
			<label for="passcode_id"><h3>{{form.passcode.label}}</h3></label><span class="form-error">{{form.passcode.errors}}</span><BR>{{form.passcode}}<BR>
        </div>
    </div>
    <div id='question-list'></div>
    {{
        macros.edit_post(
            form,
            post_type = 'question',
            edit_title = False,
            mandatory_tags = mandatory_tags
        )
    }}
    <div class="question-options">
        {% if settings.WIKI_ON %}
            {{ macros.checkbox_in_div(form.wiki) }}
        {% endif %}
        {% if settings.ALLOW_ASK_ANONYMOUSLY %}
            {{ macros.checkbox_in_div(form.ask_anonymously) }}
        {% endif %}
		{% if settings.ENABLE_CHARGED_CONTENT %}
			{{ macros.checkbox_in_div(form.is_charged) }}
			{{ macros.Integer_in_div(form.cost) }}
		{% endif %}
    </div>

    {% if not request.user.is_authenticated() %}
    <input type="submit" name="post_anon" value="{% trans %}Login/signup to post your question{% endtrans %}" class="submit" />
    {% else %}
    <input type="submit" name="post" value="{% trans %}Ask your question{% endtrans %}" class="submit" />
    {% endif %}
    <div class="clean"></div>
</form>
