<script src="{{"/js/modernizr.custom.js"|media }}"></script>
<script type="text/javascript">
    var askbot = {};
    askbot['data'] = {};
    askbot['urls'] = {};
    askbot['settings'] = {};
    askbot['messages'] = {};
</script>
<script 
    type="text/javascript"
    {% if settings.DEBUG %}
        src="{{"/js/jquery-1.4.3.js"|media}}"
    {% else %}
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"
    {% endif %}
></script>
{% block forejs %}
{% endblock %}
{# avoid adding javascript here so that pages load faster #}
