<script type="text/javascript" src="{{"/js/modernizr.custom.js"|media }}"></script>
<script type="text/javascript">
    var askbot = {};
    askbot['data'] = {};
    askbot['urls'] = {};
    askbot['settings'] = {};
    askbot['messages'] = {};
	{% if request.user.is_authenticated() %}
        askbot['data']['userIsAuthenticated'] = true;
        askbot['data']['userId'] = {{request.user.id}};
        askbot['data']['userName'] = '{{ request.user.username }}';
        askbot['data']['userIsAdminOrMod'] = {% if 
                                                request.user.is_administrator()
                                            %}true{% else %}false{% endif %};
        askbot['data']['userIsAdmin'] = {% if 
                                            request.user.is_administrator()
                                        %}true{% else %}false{% endif %};
        askbot['data']['userReputation'] = {{request.user.reputation}};
    {% else %}
        askbot['data']['userIsAuthenticated'] = false;
        askbot['data']['userReputation'] = 0;
    {% endif %}
    askbot['urls']['mark_read_message'] = '{% url "read_message" %}';
    askbot['urls']['get_tags_by_wildcard'] = '{% url "get_tags_by_wildcard" %}';
    askbot['urls']['get_tag_list'] = '{% url "get_tag_list" %}';
    askbot['urls']['follow_user'] = '/followit/follow/user/{{'{{'}}userId{{'}}'}}/';
    askbot['urls']['unfollow_user'] = '/followit/unfollow/user/{{'{{'}}userId{{'}}'}}/';
    askbot['urls']['user_signin'] = '{{ settings.LOGIN_URL }}';
    askbot['settings']['static_url'] = '{{ settings.STATIC_URL }}';
</script>
{# avoid adding javascript here so that pages load faster #}
