{% import "macros.html" as macros %}
{# cache 0 "questions" questions search_tags scope sort query context.page language_code #}
<div id="fb-root"></div>
<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId={{settings.FACEBOOK_KEY}}";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
<script>
	</script></script>
<script type="text/javascript">
  window.___gcfg = {lang: 'zh-TW'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!-- questions_loop_twmode.html -->

{% for thread in threads.object_list %}
		{# {{macros.question_summary_twmode(thread, thread._question_post(), search_state=search_state)}} #}
		{{ thread.get_summary_twmode_html(search_state=search_state) }}
{% endfor %}

{% if threads.object_list|length == 0 %}
    {% include "main_page/nothing_found.html" %}
{% else %}
    <div class="evenMore">
        {% trans %}Did not find what you were looking for?{% endtrans %} 
        <a href="{% url ask %}">{% trans %}Please, post your question!{% endtrans %}</a>
    </div>
{% endif %}

