{% import "macros.html" as macros %}
{# cache 0 "newest_response" newest_responses #}
<!-- questions_loop_newest.html -->
<div id="index-category" class="group">
		<div class="category">
			<div class="row group">
			{% for newest_response in newest_responses %}
					{{ newest_response.get_summary_newest_response_html(search_state=search_state) }}
			{% endfor %}
			</div>
        </div>
		
</div>
{% if newest_responses|length == 0 %}
    {% include "main_page/nothing_found_keepwin.html" %}
{% else %}
{% endif %}

