{% extends "user_profile/user.html" %}
<!-- user_moderate.html -->
{% import "macros.html" as macros %}
{% block profileseciton %}
    {% trans %}layout{% endtrans %}
{% endblock %}
{% block usercontent %}
<div id="dialog-form" title="{% trans %}Edit User define Content{% endtrans %}">
	<form>
	<fieldset>
		<input type="hidden" id="ID" />
		<label for="Content">{% trans %}User Define Content{% endtrans %}</label>
		<textarea rows="4" id="Content" value="" class="text ui-widget-content ui-corner-all"></textarea>
	</fieldset>
	</form>
</div>
<div id="ContentLeft">
	<div id="sidebarL" class="column">
	{% for main_template in main_list %}
		<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" id="{{main_template.id}}">
		<div class="portlet-header ui-widget-header ui-corner-all">
			<span class="ui-icon ui-icon-minusthick" tempid="{{main_template.id}}"></span>
			{% if main_template.profilelayout.layout_type == -1%}
				<span class="ui-icon ui-icon-wrench" tempid="{{main_template.id}}"></span>
			{% endif %}
			{% if main_template.profilelayout.comment %}
				{{main_template.profilelayout.title}}({{main_template.profilelayout.comment}})
			{% else %}
				{{main_template.profilelayout.title}}
			{% endif %}
		</div>
		{% if main_template.profilelayout.layout_type == -1%}
			<div class="portlet-content" id="{{main_template.id}}">{{main_template.content}}</div>
		{% else %}
			<div class="portlet-content" id="{{main_template.id}}">{{main_template.profilelayout.sample}}</div>
		{% endif %}
		</div>
	{% endfor %}	

	</div>
</div>
<div id="ContentRight">
    <div id="sidebarR"  class="column">
	{% for sidebar_template in sidebar_list %}
		<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" id="{{sidebar_template.id}}">
		<div class="portlet-header ui-widget-header ui-corner-all">
			<span class="ui-icon ui-icon-minusthick" tempid="{{sidebar_template.id}}"></span>
			{% if sidebar_template.profilelayout.layout_type == -1%}
				<span class="ui-icon ui-icon-wrench" tempid="{{sidebar_template.id}}"></span>
			{% endif %}
			{% if sidebar_template.profilelayout.comment %}
				{{sidebar_template.profilelayout.title}}({{sidebar_template.profilelayout.comment}})
			{% else %}
				{{sidebar_template.profilelayout.title}}
			{% endif %}

		</div>
		{% if sidebar_template.profilelayout.layout_type == -1%}
			<div class="portlet-content" id="{{sidebar_template.id}}">{{sidebar_template.content}}</div>
		{% else %}
			<div class="portlet-content" id="{{sidebar_template.id}}">{{sidebar_template.profilelayout.sample}}</div>
		{% endif %}
		</div>
	{% endfor %}	


	</div>
</div>


<div class="LayoutList">
<SELECT id="leftcombo">
	<OPTION selected value=0>{% trans %}-add a new layout-{% endtrans %}</OPTION>
	{% for profilelayout in profilelayouts %}
		{% if profilelayout.comment %}
			<OPTION value={{profilelayout.id}}>{{profilelayout.title}}({{profilelayout.comment}})</OPTION>
		{% else %}
			<OPTION value={{profilelayout.id}}>{{profilelayout.title}}</OPTION>
		{% endif %}
	{% endfor %}
</SELECT>
	<input type="button" value="{% trans %}Add Layout{% endtrans %}" onclick="javascript:add1Block()"/>
	<input type="button" value="{% trans %}Save{% endtrans %}" onclick="javascript:saveLayout()"/>
	<input type="hidden" name="id_main_template" id="id_main_template">
	<input type="hidden" name="id_sidebar_template" id="id_sidebar_template">
</div>
<!-- Layout Template -->
{% endblock %}
{% block userjs %}
	<script src="{{"/js/jquery.ui.core.js"|media}}"></script>
	<script src="{{"/js/jquery.ui.widget.js"|media}}"></script>
	<script src="{{"/js/jquery.ui.mouse.js"|media}}"></script>
	<script src="{{"/js/jquery.ui.button.js"|media}}"></script>
	<script src="{{"/js/jquery.ui.draggable.js"|media}}"></script>
	<script src="{{"/js/jquery.ui.position.js"|media}}"></script>
	<script src="{{"/js/jquery.ui.resizable.js"|media}}"></script>
	<script src="{{"/js/jquery.ui.sortable.js"|media}}"></script>
	<script src="{{"/js/jquery.ui.dialog.js"|media}}"></script>
	<link href="{{"/style/jquery.ui.theme.css"|media }}" rel="stylesheet" type="text/css" />
	<link href="{{"/style/jquery.ui.dialog.css"|media }}" rel="stylesheet" type="text/css" />
	<link href="{{"/style/jquery.ui.core.css"|media }}" rel="stylesheet" type="text/css" />
	<link href="{{"/style/jquery.ui.resizable.css"|media }}" rel="stylesheet" type="text/css" />
	<style>
	.column { width: 100%; float: left; padding-bottom: 100px; border: 1px solid #346F97;}
	.portlet { margin: 0 1em 1em 0; }
	.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
	.portlet-header .ui-icon { float: right; }
	.portlet-content { padding: 0.4em; }
	.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
	.ui-sortable-placeholder * { visibility: hidden; }
	</style>
	<script type="text/javascript">
		function sortTable() 
		{
				$( ".column" ).sortable({
					connectWith: ".column"
				});
				$( ".portlet-header .ui-icon-minusthick" ).click(function() {
					$.post("/del_template/",{id: $(this).attr("tempid")},finishdeleteBlock,"json")
				});
				$( ".portlet-header .ui-icon-wrench" ).click(function() {
					$( "#dialog-form #ID" ).val($(this).attr("tempid"))
					$( "#dialog-form" ).dialog( "open" );
				});
				$( ".column" ).disableSelection();
				
		};
		function add1Block()
		{

			if ($("#leftcombo").attr('selectedIndex') > 0)
			{
				$.post("/add_template/",{id:$("#leftcombo :selected").val()},finishaddBlock,"json")
			}

		};
		
		function finishdeleteBlock(data)
		{
			if (data.success)
			{
				$("#"+data.id).remove()
			}
			else
			{
				alert(data.message);
			}
		}
		
		function finishaddBlock(data)
		{
			if (data.is_new)
			{
				if (data.type==1)    // System Type == 1
				{
					$("#sidebarL").append('<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" id="'+data.id+'"><div class="portlet-header ui-widget-header ui-corner-all"><span class="ui-icon ui-icon-minusthick"></span>'+$("#leftcombo :selected").text()+'</div><div class="portlet-content" id="'+data.id+'"></div></div>');
					$("#sidebarL").sortable('refresh');
				}
				else
				{
					$("#sidebarL").append('<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" id="'+data.id+'"><div class="portlet-header ui-widget-header ui-corner-all"><span class="ui-icon ui-icon-minusthick"></span><span class="ui-icon ui-icon-wrench"></span>'+$("#leftcombo :selected").text()+'</div><div class="portlet-content" id="'+data.id+'"></div></div>');
					$("#sidebarL").sortable('refresh');
				}
				sortTable();
			}
			else
			{
				alert(data.message);
			}
		}
		
		function finishupdateBlock(data)
		{
			if (data.success)
			{
				$("#"+data.id+" div.portlet-content").remove();
				$("#"+data.id).append('<div class="portlet-content">'+data.content+'</div>');
				sortTable();
			}
			else
			{
				alert(data.message);
			}
		}
		
		function saveLayout()
		{
			var contentL=new Array();
			var contentR=new Array();
			portlets=$("#sidebarL .portlet");
			for(i=0;i<portlets.size();i=i+1)
			{
				contentL[i]=portlets[i].id;
			}
			portlets=$("#sidebarR .portlet");
			for(i=0;i<portlets.size();i=i+1)
			{
				contentR[i]=portlets[i].id;
			}
			main_data=contentL.toString();
			sidebar_data=contentR.toString();
			$.post("/save_template/",{main_template:main_data,sidebar_template:sidebar_data},function(data){alert(data.message);},"json")
		}
		sortTable();
		var allFields = $( [] ).add("#dialog-form #ID").add("#dialog-form #Content");
		$( "#dialog-form" ).dialog({
			autoOpen: false,
			height: 250,
			width: 480,
			modal: true,
			buttons: {
				{% trans %}Update Content{% endtrans %}: function() {
					var bValid = true;
					allFields.removeClass( "ui-state-error" );
					$.post("/update_template/",{id:$("#dialog-form #ID").val(), content:$("#dialog-form #Content").val()},finishupdateBlock,"json")
					$( this ).dialog( "close" );
				},
				{% trans %}Cancel{% endtrans %}: function() {
					$( this ).dialog( "close" );
				}
			},
			close: function() {
				allFields.val( "" ).removeClass( "ui-state-error" );
			}
		});
	</script>
{% endblock %}
<!-- end user_layout.html -->
